body {
  display: grid;
  min-height: 100dvh;
  grid-template-rows: auto 1fr auto;
  margin: 0;
  padding: 0;
}
@media (width>800px) {
  main {
    max-width: 900px;
    margin: 0 auto; /* top/bund højre/venstre*/
    padding: 0 auto;
  }
}

.main-header {
  display: block;
  border-radius: 5px;
  border: 1px;
  margin: 0;
}

@media (min-width: 600px) .main-header {
  display: block;
  border-radius: 5px;
  border: 1px;
}
